<html>
  <head>
    <title>currency converter</title>
  </head>
  <body>
    <form onsubmit="return false">
    <div class="main">
    <div class="main-container">
      <div class="selection-container">
        <select #c1 name="" id="fromCurrency" value="">
          <option  value="1.126735">USD</option>
          <option  value="0.876893">GBP</option>
          <option value="79.677056">INR</option>
        </select>
        <span>from</span>
        <input #inp type="number" value=0  name="input" id="amount" min="0" >
        <span>to</span>
        <select #c2 name="" id="toCurrency" value="" >
          <option  value="1.126735">USD</option>
          <option  value="0.876893">GBP</option>
          <option value="79.677056">INR</option>
        </select>
      </div>
      <button id="submitButton" (click)="convert(inp.value,c1.value,c2.value)" >SUBMIT</button>
      <div id="result">
          <div id="resValue">{{res}}</div>
      </div>
    </div>
    </div>
    </form>
  </body>
</html>

