.main-container{
    background-color: aqua;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .selection-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }
  input{
    font-size: 17px;
    padding: 5px;
    border-radius: 10px;
  }
  span{
    font-size: 17px;
    font-weight: 700;
  }
  select{
    font-size: 17px;
    padding: 5px;
    border-radius: 10px;
    border: none;
  }
  button{
    margin-top: 10px;
    font-size: 17px;
    border: 2px;
    border-radius: 10px;
  }
  button:hover{
    cursor: pointer;
  }
  button:active{
    background-color: black;
    color: white;
  }
  .resValue{
    background-color: cadetblue;
    display: flex;
    margin: 10px;
    width: 200px;
    justify-content: space-evenly;
    border-radius: 10px;
  }
  .main{
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  